*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
}

:root{
    --firstColor: #E3E2DF;
    --secondColor: #E3AFBC;
    --thirdColor: #9A1750;
    --darkAccent: #5D001E;
    --lightAccent: #EE4C7C;
}

nav{
    background-color: var(--darkAccent);
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header{
    background-color: var(--firstColor);
    height: 100vh;
}

#page2{
    background-color: var(--secondColor);
    height: 100vh;
}

#page3{
    background-color: var(--thirdColor);
    height: 100vh;
}

footer{
    background-color: var(--darkAccent);
    height:50px;
}

nav a{
    color: var(--firstColor);
    text-decoration: none;
    margin: auto;
    padding: 10px;
    position: relative;
}

nav a::after{
    content: "";
    position: absolute;
    background-color: var(--lightAccent);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.4s;
}

nav a:hover::after{
    width: 100%;
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headerLeft headerRight";
}


#headerLeft{
    grid-area: headerLeft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#headerRight{
    grid-area: headerRight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#headerRight a{
    margin: 10px 0px;
    padding: 10px 10px;
    border: var(--lightAccent) solid 3px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#headerRight a:hover{
    transition: all 0.4s ease-in-out;
    background-color: var(--lightAccent);
    color: var(--firstColor);
}
