/* Page 1 Edits */
.page1 img{
    width: 100%;
    height: auto;
}

/*Page 2 Edits*/
.page2{
    padding: 50px;
    background-color: var(--beige-weak);
}

.promotion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.promotion img, .promotion h2, .promotion h3{
    padding: 20px;
    line-height: 40px;
}
