body{
    height: 2350px;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header" "snacksDisplay" "footer" ;
    grid-gap: 0px;
  }
  .header{
    grid-area:header;
    grid-row: 1 / 2;
    grid-column: 1/2;
  }
  .snacksDisplay{
    grid-area:snacksDisplay;
    grid-row: 2 / 3;
    grid-column: 1/2;
    
  }
  .footer{
    grid-area:footer;
    grid-row: 3 / 4;
    grid-column: 1/2;
    
  }
  
  .header{
    background-color: #203ad8;
    color: #fdfbf7;
    width: 100%;
  }
  
  
  .footer{
    background-color: #203ad8;
    color: #fdfbf7;
    width: 100%;
  }
  
  .snacksDisplay{
    display: grid;
    flex-direction: row;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: repeat(6, 350px);
    grid-template-areas: "item1 item2 item3" 
                        "item4 item5 item6"
                        "item7 item8 item9"     
                        "item10 item11 item12" 
                        "item13 item14 item15"    
                        "item16 item17 itme18";
  }
  
  .snacksDisplay img{
    height: 300px;
    width: 225px;
    border-radius: 15px;
  }
  
  .snacksDisplay{
    font-size: 10px;
  }
  
  button{
    border-color: #ff2498;
    border-radius: 10px;
    padding: 5px;
    background-color: #ff2498;
    color: white;
  }
  
  #item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9,#item10,#item11,#item12,#item13,#item14,#item15,#item16,#item17,#item18{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #f4e7ce;
    color: black;
    border-radius: 15px;
  }
  
  #item1{
    grid-area: item1;
    grid-column: 1/2;
    grid-row:1/2;
  }
  
  #item2{
    grid-area: item2;
    grid-column: 2/3;
    grid-row:1/2;
    
  }
  
  #item3{
    grid-area: item3;
    grid-column: 3/4;
    grid-row:1/2;
  }
  /*
  #item4{
    grid-area: item4;
    grid-column: 1/2;
    grid-row:2/3;
  }
  #item5{
    grid-area: item5;
    grid-column: 2/3;
    grid-row:2/3;
  }
  #item6{
    grid-area: item6;
    grid-column: 3/4;
    grid-row:2/3;
  }
  */
  
  #shopBtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shoppingStuff{
    background-color: #ff2498;
  }
  
  #shopCart{
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
  }
  
  #shopCartThings{
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff2498;
  }
  
  #shopDetails{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "shopCartItems shopCartPrices"
  }
  
  #shopCartItems{
    grid-area: shopCartItems;
    grid-column: 1/2;
    margin: 10px;
  }
  
  #shopCartPrices{
    grid-area: shopCartPrices;
    grid-column: 2/3;
    margin: 10px;
  }
  
   
  
  
  #shopCartThings button{
    width: 50%;
    height: 50px;
    
  }
  
  #shoppingCart p{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 600px;
    padding: 30px 50px;
  }